*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.los
*.cache
*.m4
.deps
.dirstamp
compile
config.*
configure
configure~
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-*

bccmd

.vscode
